:root {
  --dark-text: midnightblue;
  --white-background: white;
  --off-white-background: #e7e9eb;
}

body {
  font-family: monospace, Sans-Serif;
  margin: 2px;
  background: var(--white-background);
  color: var(--dark-text);
  font-size: 33px;
  font-weight: 600;
}

input,
textarea,
button {
  font-family: inherit;
}

.container {
  display: flex;
  flex-direction: column;
}

.box {
  background-color: var(--off-white-background);
  width: 50%;
  border-radius: 5px;
  border: 1px solid #454746;
  box-sizing: border-box;
  align-items: center;
  padding: 20px;
  margin: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  /* flex: 1; */
}

.some-page-wrapper {
  margin: 0px;
}

@media (max-width: 1000px) {
  .row {
    flex-wrap: wrap;
  }
  .box {
    width: 100%;
    /* height: 500px; */
  }
}

/* @media (max-width: 700px) {
  .box {
    height: 350px;
  }
} */

/* canvas {
  width: 100%;
} */

.p-text {
  margin: 0px 0px 0px 0px;
}
