body {
  margin: 2px;
  background: rgb(130, 180, 255);
}

.box-row {
  display: flex;
}

.box {
  background-color: rgb(65, 65, 65);
  width: 50%;
  height: 450px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 2px;
  justify-content: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33px;
  font-weight: 600;
}

.box-short {
  height: 200px;
}

canvas {
  border: 1px solid black;
  width: 100%;
}

@media (max-width: 1000px) {
  .box-row {
    flex-wrap: wrap;
  }
  .box {
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 700px) {
  .box {
    height: 350px;
  }
}