$bg: midnightblue;
$fg: lighten($bg, 20%);
$borderWidth: 3px;

.radio-text {
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio-text-label {
  color: $bg;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
  padding: 5px 20px;
  text-align: center;
}

.radio-text:checked + label {
  color: #e7e9eb;
  background: $bg;
}

label + .radio-text + label {
  border-left: solid $borderWidth $bg;
}
.radio-group {
  border: solid $borderWidth $bg;
  display: inline-block;
  margin: 0px;
  border-radius: 10px;
  overflow: visible;
}
