$bg: midnightblue;
$fg: lighten($bg, 20%);
$borderWidth: 2px;

.radio-group {
  border: solid $borderWidth $bg;
  display: inline-block;
  margin: 0px;
  border-radius: 10px;
  overflow: visible;
}

.radio-text-input {
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio-text-label {
  color: $bg;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
  padding: 5px 10px;
  text-align: center;
}

.radio-text-input:checked + label {
  color: #e7e9eb;
  background: $bg;
}

// label + .radio-text-input + label {
//   border-left: solid $borderWidth $bg;
// }

.left-radio-label {
  border-right: solid $borderWidth/2 $bg;
}

.right-radio-label {
  border-left: solid $borderWidth/2 $bg;
}